:root {
  --pastel: #ec9ba9;
  --todos: #cdc6c3;
  --men: #a09086;
  --women: #cfb3a9;
  --light: #e4d8cb;
  --bg: #e7dccf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Dancing Script";
  src: url(./fonts/DancingScript-VariableFont_wght.woff2);
}
